.item-group{
    width: 1200px;
    border-style: none none dotted none;
    border-width: 0.5px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.item{
    width: 160px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
span.totalsales{
    display:inline-block;
    font-size: 12px;
    text-indent: 0.5em;
}
p.slogan{
    font-size: 13px;
    color: red;
    margin-bottom: -10px;
    text-indent: 0.3em;
    height: 16px;
}
.item img{
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 5%;
}
.item:hover{
    background-color: blanchedalmond;
}
.price, .rating, .item-tag{
    margin-bottom: 0;
}
.item-title{
    display: -webkit-box;
    font-size: 13px;
    padding: 0;
    color: #666666;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.price span{
    font-size: 12px;
}
.price {
    text-indent: 0.3em;
    font-size: 22px;
    color: red;
}
.price span:last-child{
    color: #aaa;
}
.rating {
    height: 15px;
    width: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 11px;
    color: #aaa;
}
.rating span{
    margin-left: 5px;
}
.item-tag{
    background-color: #eeeeee;
    margin-top: 1px;
    text-align: right;
    padding: 3px;
}
.item-tag span{
    font-size: 13px;
    background-color: #FF4C76;
    color: #FFFFFF;
    border-radius: 3px;
    padding: 1px;
}