* {
    font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體", sans-serif;
}

body {
    line-height: 1.5;
}

.main-container {
    background-color: #e2effc;
    width: 100%;
    padding: 10px 0;
}

.content-container {
    width: 90%;
    max-width: 1080px;
    margin: 30px auto;
    background: #fff;
    box-shadow: 0px -1px 16px rgba(0, 0, 0, .05);
    border-radius: 36px;
    padding: 30px;
}

.content-container h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #000000;
}

.content-container>span {
    font-size: 16px;
    font-weight: 400;
    color: #CCCCCC;
    margin-bottom: 15px;
    display: inline-block;
}

.list-title {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #d8dde4;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.list-title span {
    font-size: 18px;
    font-weight: 700;
    color: #1a1f23;
}

.list-container {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 5px 20px;
}

.list-container span {
    font-size: 16px;
    font-weight: 400;
    color: #1a1f23;
    display: inline-block;
}

.list-item {
    display: block;
    margin: 15px 0;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
}

.list-item-date {
    width: 200px;
    text-align: center;
}

.list-item-date span {
    margin: 3px 0;
}

.list-item-img {
    width: 190px;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

.list-item-img img {
    width: 100%;
}

.list-item-name {
    /* width: calc(100% - 590px); */
    width: 388px;
}

.list-item-name h3 {
    font-size: 18px;
    font-weight: 700;
    color: #1a1f23;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.list-item-name span {
    font-size: 14px;
    font-weight: 400;
    color: #AAAAAA;
}

.list-item-sign {
    width: 100px;
    text-align: center;
}

.list-item-status {
    width: 100px;
    text-align: center;
}

.activity-list {
    display: block;
    height: 550px;
    overflow: auto;
    position: relative;
}

.activity-list::before,
.activity-list::after {
    content: "";
    position: absolute;
    left: 0;
    height: 30px;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.activity-list::before {
    top: 0;
}

.activity-list::after {
    bottom: 0;
    transform: scaleY(-1);
}

.activity-list::-webkit-scrollbar {
    width: 0;
}

a {
    text-decoration: none;
}

.nav-pagination {
    margin-top: 10px;
}

.pagination {
    justify-content: center;
    align-items: center; 
}

.page-link {
    color: #000000;
}

.back-page {
    padding-left: 30px;
    text-decoration: none;
}

.back-page span {
    color: #FFFFFF;
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    .list-title {
        flex-wrap: wrap;
    }

    .list-container {
        flex-wrap: wrap;
    }

    .list-item-name {
        width: 100%;
        text-align: center;
    }

    .list-item-img {
        width: 100%;
        padding: 0;
    }

    .list-item-date {
        width: 100%;
    }

    .list-item-sign {
        width: 50%;
    }

    .list-item-status {
        width: 50%;
    }
}